
<h2>Exemplo 3</h2>

<div class="text">
 <h2>Bem-vindo(a) à nossa página {{name}}!</h2>
 Este exemplo vai te ajudar a entender um pouco mais sobre o conceito de auto-updates. Preste atenção no texto abaixo:
</div>
<p>
<div>
 <label>Nome:</label>
 {{input type="text" value=name placeholder="Digite seu nome"}}
 <p><label>Idade:</label>
 {{input type="text" value=idade placeholder="Digite sua idade"}}</p>
 <label>Profissão:</label>
 {{input type="text" value=profissao placeholder="Digite sua profissão"}}
 <p><label>Área de Atuação:</label>
 {{input type="text" value=area placeholder="Digite sua área de atuação"}}</p>
 <label>Responsabilidades:</label>
 {{input type="text" value=responsabilidades placeholder="Digite suas resposabilidades"}}
</div>
</p>


<p><h3><b>Mini-Currículo: </b>{{name}}, {{idade}} anos.{{profissao}}, em busca de recolocação no mercado de trabalho. Atuante na área de {{area}}, responsável por {{responsabilidades}}. Compromisso e responsabilidade com o cliente.</h3></p>

